<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <style type="text/css">
      body {
        font-family: {{font}};
        background-color: {{color}};
      }
    </style>
    <title>サンプル</title>
  </head>
  <body>
    {{body}}
  </body>
</html>
